* {
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url(../imagenes/fondo.png);
  font-family: "Rubik", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  background-color: #222223;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu h1 {
  color: white;
  font-weight: bold;
  padding: 20px;
  color: white;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li a {
  font-size: 30px;
  padding: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  color: violet;
}

h2 {
  font-weight: bold;
  padding-top: 5px;
}

h3 {
  font-weight: bold;
  padding-top: 5px;
}

.info-padre {
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
}
.info-padre .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-padre .info h1 {
  font-weight: bold;
  padding-top: 5px;
}
.info-padre .info p {
  font-size: 20px;
  width: 50%;
  text-align: center;
}
.info-padre .info .disboardfoto {
  filter: blur(5px);
}
.info-padre .info a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.info-padre .info a:hover {
  color: cornflowerblue;
}
.info-padre .info .discordlink {
  text-decoration: underline;
}
.info-padre .info .disboard .click {
  background-color: darkblue;
  text-decoration: none;
}
.info-padre .info .espacio {
  width: 100%;
  height: 175px;
}

.info-camisa {
  color: white;
  display: flex;
  justify-content: center;
}

.titulos-camisetas {
  font-weight: bold;
  font-size: 30px;
  padding-top: 30px;
}

.equipos {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 1rem;
}
.equipos img {
  padding-top: 10px;
  display: flex;
  width: 100px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  background-color: rgb(26, 26, 26);
}

.mapas {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mapas h5 {
  background-color: #222223;
}
.mapas p a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: dodgerblue;
  border-radius: 10px;
}
.mapas p a:hover {
  background-color: rgb(18, 87, 156);
}

#carouselExampleCaptions {
  width: 1000px;
  display: flex;
}

hr, footer {
  color: white;
}

footer img {
  width: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
}

@media (max-width: 500px) {
  .menu .logo img {
    width: 50px;
  }
  .menu .logo .titulo h1 {
    font-size: 20px;
    height: 0px;
  }
  .menu nav ul {
    flex-direction: column;
  }
  .menu nav ul li {
    height: 20px;
  }
  .menu nav ul li a {
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  .info-padre .info p {
    text-align: center;
  }
}
@media (max-width: 800px) {
  .menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .menu .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu nav {
    justify-content: center;
  }
  .menu nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  .menu nav ul li {
    display: inline-block;
  }
  .menu nav ul li a {
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  .equipos {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 1rem;
  }
  .espacio {
    display: none;
  }
}
/* Escritorios */
@media (max-width: 1920px) {
  nav ul li a {
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
}
.info-padre .info .discordfoto {
  width: 100%;
  max-width: 900px;
}
.info-padre .info .disboardfoto {
  width: 100%;
  max-width: 900px;
}

/*# sourceMappingURL=estilo.css.map */
