


/* Escritorios */
@media (max-width: 1920px){
    nav{
        ul{
            li{
                a {
                font-size: 30px;
                padding: 10px;
                font-weight: bold;
                color: white;
                text-decoration: none;
                }
            }
        }
    }
}
.info-padre{
    .info{
        .discordfoto{
            width: 900px;
        }
        .disboardfoto{
            width: 900px;
        }
    }
}